
<div class="container justify-content-space-around">
<h1 class="color">Bienvenido a Books y Coffee!</h1>

<p class="color">Aquí encontraras los mejores luegares de la ciudad para tomar café y leer un buen libro</p>


<button  type="button" class="btn btn-secondary"><a href="/places">Empezar</a></button>
</div>
